table input {
  width: 100%;
  padding: 5px 5px;
}
table{
  text-align: center;
}
#table tr,td ,th{
  padding: 5px;
  width: 150px;
  padding-right: 20px;
}
tr:nth-child(even){
  background-color: rgb(210, 210, 210);
}
tr:nth-child(1){
  background-color: rgb(211, 135, 255);

}
td:first-child {
  font-size: 20px;
  font-weight: bold;
}
#inputs{
  width: 100px;
  text-align: right;
}
thead{
  text-align: right !important;
}